apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ pki_path_ca }}/root-ca.pem
    server: https://127.0.0.1:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: default
    user: {{ kubeconfig_cert }}
  name: {{ kubeconfig_cert }}@kubernetes
current-context: {{ kubeconfig_cert }}@kubernetes
kind: Config
preferences: {}
users:
- name: {{ kubeconfig_cert }}
  user:
    client-certificate: {{ pki_path_certs }}/{{ k8s_component }}/{{ custom_cert_name | default(kubeconfig_cert) }}.pem
    client-key: {{ pki_path_certs }}/{{ k8s_component }}/{{ custom_cert_name | default(kubeconfig_cert) }}-key.pem
