apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ pki_path_ca }}/root-ca.pem
    server: https://{{ external_api_ip | default('127.0.0.1') }}:{{ external_api_port | default("6443") }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: default
    user: {{ config.kubeconfig_cert }}
  name: {{ config.kubeconfig_cert }}@kubernetes
current-context: {{ config.kubeconfig_cert }}@kubernetes
kind: Config
preferences: {}
users:
- name: {{ config.kubeconfig_cert }}
  user:
{% if (config.path_abs | default("")).split("/")[-1] == "kubeconfig" and k8s_component == "kubelet" %}
    client-certificate: {{ pki_path_certs }}/{{ k8s_component }}/kubelet-client-current.pem
    client-key: {{ pki_path_certs }}/{{ k8s_component }}/kubelet-client-current.pem
{% elif (config.path_abs | default("")).split("/")[-1] == "bootstrap-kubeconfig" and k8s_component == "kubelet" %}
    token: okula.f395accd246ae52d
{% else %}
    client-certificate: {{ pki_path_certs }}/{{ k8s_component }}/{{ custom_cert_name | default(config.kubeconfig_cert) }}.pem
    client-key: {{ pki_path_certs }}/{{ k8s_component }}/{{ custom_cert_name | default(config.kubeconfig_cert) }}-key.pem
{% endif %}