{% if inventory_hostname in groups.masters %}
{% set api_ip = '127.0.0.1' %}
{% set api_port = '6443' %}
{% else %}
{% set api_ip = external_api_ip %}
{% set api_port = external_api_port %}
{% endif %}
---
apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ default_path_pki_ca }}/root-ca.pem
    server: https://{{ api_ip }}:{{ api_port }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: default
    user: {{ config.kubeconfig_cert }}
  name: {{ config.kubeconfig_cert }}@kubernetes
current-context: {{ config.kubeconfig_cert }}@kubernetes
kind: Config
preferences: {}
users:
- name: {{ config.kubeconfig_cert }}
  user:
{% if (config.path_abs | default("")).split("/")[-1] == "kubeconfig" and k8s_component == "kubelet" and inventory_hostname in groups.workers  %}
    client-certificate: {{ default_path_pki_certs }}/{{ k8s_component }}/kubelet-client-current.pem
    client-key: {{ default_path_pki_certs }}/{{ k8s_component }}/kubelet-client-current.pem
{% elif (config.path_abs | default("")).split("/")[-1] == "bootstrap-kubeconfig" and k8s_component == "kubelet" %}
    token: {{ toke_id | default("") | b64decode }}.{{ toke_secret | default("") | b64decode }}
{% else %}
    client-certificate: {{ default_path_pki_certs }}/{{ k8s_component }}/{{ custom_cert_name | default(config.kubeconfig_cert) }}.pem
    client-key: {{ default_path_pki_certs }}/{{ k8s_component }}/{{ custom_cert_name | default(config.kubeconfig_cert) }}-key.pem
{% endif %}