[Unit]
Description=Kubernetes ETCD Cluster
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
EnvironmentFile=-/etc/kubernetes/etcd/service-args-custom

ExecStart=/usr/bin/etcd \
	    $ETCD_ARGS \

Restart=on-failure
Type=notify
LimitNOFILE=65536
RestartSec=5

[Install]
WantedBy=multi-user.target
