# The following values are used to configure the kubernetes controller-manager
#

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS="
    --tls-cert-file={{ pki_path_certs }}/{{ k8s_component }}/system:kube-controller-manager-server.pem 
    --tls-private-key-file={{ pki_path_certs }}/{{ k8s_component }}/system:kube-controller-manager-server-key.pem 
    --client-ca-file={{ pki_path_ca }}/root-ca.pem 
    --cluster-signing-cert-file={{ pki_path_ca }}/root-ca.pem 
    --cluster-signing-key-file={{ pki_path_ca }}/root-ca-key.pem 
    --requestheader-client-ca-file={{ pki_path_ca }}/front-proxy-ca.pem 
    --service-account-private-key-file={{ pki_path_certs }}/kube-apiserver/system:kube-apiserver-kubelet-client-key.pem 
    --kubeconfig=/etc/kubernetes/{{ k8s_component }}/kubeconfig 
    --authentication-kubeconfig=/etc/kubernetes/{{ k8s_component }}/kubeconfig 
    --authorization-kubeconfig=/etc/kubernetes/{{ k8s_component }}/kubeconfig
    --root-ca-file={{ pki_path_ca }}/root-ca.pem
{% if cloud_provider | default(false) | bool %}
    - --cloud-provider=external
{% endif %}
{% for arg in kube_controller_manager_args %}
    {{ arg }}
{% endfor %}"
