# The following values are used to configure the kubernetes api-server
#
# Add your own!

{% set list_etcd = [] %}
{% for i in groups.masters %}
{{- list_etcd.append('https://{server}:2379'.format(server=groups.masters[loop.index-1])) }}
{% endfor %}
{% set etcd_server = ','.join(list_etcd) %}

KUBE_API_ARGS="
    --tls-cert-file={{ default_path_pki_certs }}/kube-apiserver/system:kube-apiserver-server.pem
    --tls-private-key-file={{ default_path_pki_certs }}/kube-apiserver/system:kube-apiserver-server-key.pem
    --client-ca-file={{ default_path_pki_ca }}/root-ca.pem
    --etcd-cafile={{ default_path_pki_ca }}/etcd-ca.pem
    --etcd-certfile={{ default_path_pki_certs }}/kube-apiserver/system:kube-apiserver-etcd-client.pem
    --etcd-keyfile={{ default_path_pki_certs }}/kube-apiserver/system:kube-apiserver-etcd-client-key.pem
    --kubelet-client-certificate={{ default_path_pki_certs }}/kube-apiserver/system:kube-apiserver-kubelet-client.pem
    --kubelet-client-key={{ default_path_pki_certs }}/kube-apiserver/system:kube-apiserver-kubelet-client-key.pem
    --proxy-client-cert-file={{ default_path_pki_certs }}/kube-apiserver/system:kube-apiserver-front-proxy-client.pem
    --proxy-client-key-file={{ default_path_pki_certs }}/kube-apiserver/system:kube-apiserver-front-proxy-client-key.pem
    --requestheader-client-ca-file={{ default_path_pki_ca }}/front-proxy-ca.pem
    --service-account-key-file={{ default_path_pki_certs }}/kube-apiserver/system:kube-apiserver-sa.pem
    --service-account-signing-key-file={{ default_path_pki_certs }}/kube-apiserver/system:kube-apiserver-sa-key.pem
    --etcd-servers={{ etcd_server }}
{% if cloud_provider | default(false) | bool %}
    --cloud-provider=external
{% endif %}
{% if audit_path | default(false) | bool %}
    --audit-log-path=/var/log/kubernetes/kube-apiserver-audit.log
{% endif %}
{% for arg in kube_apiserver_args %}
    {{ arg }}
{% endfor %}"