apiVersion: v1
data:
  ClusterConfiguration: |
    apiServer:
      timeoutForControlPlane: 4m0s
    apiVersion: kubeadm.k8s.io/v1beta3
    certificatesDir: {{ default_path_pki }}
    clusterName: kubernetes
    controlPlaneEndpoint: {{ external_api_ip }}:6443
    controllerManager: {}
    dns: {}
    etcd:
      local:
        dataDir: /var/lib/etcd
    imageRepository: k8s.gcr.io
    kind: ClusterConfiguration
    kubernetesVersion: v{{ k8s_version }}
    networking:
      dnsDomain: cluster.local
      serviceSubnet: {{ cluster_default_service_network }}
    scheduler: {}
  ClusterStatus: |-
    apiEndpoints: {}
    apiVersion: kubeadm.k8s.io/v1beta2
    kind: ClusterStatus
kind: ConfigMap
metadata:
  name: kubeadm-config
  namespace: kube-system
