
path "auth/clusters/${cluster_name}/approle/role/${approle_name}/*" {
    capabilities = ["read"]
}

path "clusters/${cluster_name}/kv/data/kube-apiserver-sa" {
    capabilities = ["read"]
}

path "auth/token/renew" {
    capabilities = ["update"]
}

path "auth/token/renew-self" {
    capabilities = ["update"]
}
