### file managed by puppet
# kubernetes kubelet (minion) config

# The address for the info server to serve on (set to 0.0.0.0 or "" for all interfaces)
# KUBELET_ADDRESS="--address=0.0.0.0"

# The port for the info server to serve on
# KUBELET_PORT="--port=10250"

# You may leave this blank to use the actual hostname
KUBELET_HOSTNAME="--hostname-override={{ inventory_hostname }}"

# location of the api-server

# Add your own!
KUBELET_ARGS="
{% if kubeadm | bool %}
    - --config=/var/lib/kubelet/config.yaml
    - --kubeconfig=/etc/kubernetes/kubelet.conf
{% else %}
    - --config=/etc/kubernetes/kubelet/config.yaml
    - --kubeconfig=/etc/kubernetes/kubelet/kubeconfig
{% endif %}
{% for arg in kubelet_args %}
    {{ arg }}
{% endfor %}
{% if cloud_provider | default(false) | bool %}
    - --cloud-provider=external
{% endif %}"
